@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12 col-lg-8">
        <div class="rice-crop text-right">
            <div class="ric-crop-title">
                <h2 class="title"><b>پرفروش ها</b></h2>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="Home" asp-action="ProductDetails">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/09d5d4cea8bd6925d2944af8c18e6a2c8e99fbd1_1671297979.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center">
                                لپ تاپ 15.6 اینچی ایسوس مدل VivoBook 15 R1502ZA-BQ708
                            </p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a href="Products copy.html">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/1251b2bdef5a2eca857b78838de5272eb623a4b7_1671473824.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center">
                                لپ تاپ 15.6 اینچی لنوو مدل Legion 5 15IAH7H i7 16GB 1T
                                6GB
                            </p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="Home" asp-action="ProductDetails">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/5b1029ced403ac3a2f28284e703b9b757b8685d2_1671468310 (1).jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center">
                                لپ تاپ 15.6 اینچی ایسوس مدل VivoBook 15 R1502ZA-B
                            </p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                   <a asp-controller="Home" asp-action="ProductDetails">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/637dca750d26e957c045c45c8081dd3a8793184c_1672074085.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center">
                                لپ تاپ 15.6 اینچی لنوو مدل ThinkBook 15 G2 ITL - A
                            </p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a href="Products copy.html">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/6bd2171139ca42a1db946f8b6e3564dab3276f16_1671467642.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center">
                                لپ تاپ 17.3 اینچی ایسوس مدل ROG Strix G17 G713RW-KH145
                            </p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="Home" asp-action="ProductDetails">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/a0d2725ba7a8e257a92c77583788f54b8f16e8a2_1671477227.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center"> لپ تاپ 15.6 اینچی ایسوس مدل X515MA-N4020-4-256-1</p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="Home" asp-action="ProductDetails">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/ac993fad77b0f039865b19c3b1c72e7637359f63_1669710926.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center">
                                لپ تاپ 15.6 اینچی ایسر مدل Aspire 7 A715-42G-R23A-A -
                                کاستوم شده
                            </p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a href="Products copy.html">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/b97667f66a093347abeace6b94f9c913fcf3c8a5_1671468703.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center">
                                لپ تاپ 15.6 اینچی ایسوس مدل TUF GAMING F15
                                FX506HC-HN111
                            </p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="Home" asp-action="ProductDetails">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/d227c95e86faa910da5b37f2490ab06305a8e49e_1669116851.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center"> لپ تاپ 15.6 اینچی ایسوس مدل M3500QC-L1335</p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="Home" asp-action="ProductDetails">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/db2061f8d4863a673c325aa1559261db3efb82b6_1670159482.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center"> لپ تاپ 15.6 اینچی دل مدل Vostro 3515 B</p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="Home" asp-action="ProductDetails2">
                        <div class="rice-crop-content mx-auto text-center">

                            <img src="~/img/de18aac4dc5add1e49f0e9fc19edd94684ae6854_1671470985.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center">
                                لپ تاپ 15.6 اینچی ایسوس مدل FX517ZR-F15.173070-B -
                                کاستوم شده
                            </p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="Home" asp-action="ProductDetails">
                        <div class="rice-crop-content mx-auto text-center ">

                            <img src="~/img/f3ffc3a4c2d228319dfe8ebef24153380a10aa38_1667800613.jpg"
                                 class="img-fluid img-content" alt="">
                            <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                                <i class="fas fa-shopping-cart  "></i>

                            </div>
                            <button class=" w-100 btn-content text-white d-none d-md-inline">
                                انتخاب گزینه
                                ها
                            </button>
                            <p class=" text-center ">
                                لپ تاپ 15.6 اینچ لنوو مدل IdeaPad L3 15ITL6-OA -
                                کاستوم شده
                            </p>
                            <nav class=" text-center">
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>
                                <a href="#"><i class="fa fa-star text-warning"></i></a>

                            </nav>
                        </div>
                    </a>

                </div>
            </div>
        </div>

    </div>


    <div class="col-lg-4 col-sm-12">
        <div class="timer-rice">
            <div class="container">
                <div class="timer-rice-title text-right">
                    <h4>پیشنهاد ما</h4>
                </div>
                <div class="container">
                    <a asp-controller="Home" asp-action="ProductDetails3">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12 ">
                                <img src="~/img/c849507e3a7592932236c0d0a580d913339d1fae_1661594462.jpg"
                                     class="w-100 " alt="">
                                <h5 class=" text-center title-rice" dir="rtl"> لپ تاپ 15.6 اینچی دل مدل Victus 15-FA0031DX</h5>

                                <nav class=" text-center navbar-rice pb-3">
                                    <a href="#"><i class="fa fa-star-half-alt text-warning"></i></a>

                                    <a href="#"><i class="fa fa-star text-warning"></i></a>
                                    <a href="#"><i class="fa fa-star text-warning"></i></a>
                                    <a href="#"><i class="fa fa-star text-warning"></i></a>

                                </nav>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
        </div>