
@{
    ViewData["Title"] = "ProductDetails";
}






  <div class="proudcut ">
    <div class="container">
      <div class="row flex-row-reverse my-4">
        <div class="col-md-6">
          <img src="~/img/ea9df24a7eacd6e206caed545647309e2a44a3fa_1671472911.jpg" class="img-fluid w-100" alt="">
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="~/img/1017cdfa9b989c3e68d8d15cf4ae618aae3f7f2b_1662202774.jpg" class="img-fluid w-100" alt="">
              </div>
              <div class="col">
                <img src="~/img/a145cbf4003935e56d6372817af78193f25ecc82_1662202773.jpg" class="img-fluid w-100" alt="">
              </div>
              <div class="col">
                <img src="~/img/6b928260f449be39fcad600644b765ac4ffadb4a_1662202582.jpg" class="img-fluid w-100" alt="">
              </div>
              <div class="col">
                <img src="~/img/06e06478f0ec15d3e5da810e62e2b81198128cac_1662202581.jpg" class="img-fluid w-100" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="border shadow text-right p-4">
            <h5 dir="rtl">لپ تاپ 15.6 اینچی اچ‌پی مدل Victus 15-FA0031DX</h5>
            <div class="d-flex justify-content-end py-2">
              <p> (دیدگاه کاربر 3)</p>

              <nav class=" ">
                <a href="#"><i class="fa fa-star text-warning"></i></a>
                <a href="#"><i class="fa fa-star text-warning"></i></a>
                <a href="#"><i class="fa fa-star text-warning"></i></a>
                <a href="#"><i class="fa fa-star text-warning"></i></a>

              </nav>
            </div>
            <h5 class="color-green pb-2" dir="rtl"> 28,910,000 تومان</h5>
            <h5 class="mb-3">رنگ</h5>
            <section class="d-flex justify-content-end">
              <section class="color-body ">
                <section class="color-main">
                  <section class="color-item"></section>
                </section>
              </section>
            </section>

            <section class="my-3">
              <h5>ویژگی‌ها</h5>
              <ul class="p-0 pr-4" dir="rtl">
                <li class="mt-2">سری پردازنده :

                  <span class="atribute-item">Core i5</span>
                </li>
                <li class="mt-2">ظرفیت حافظه RAM :

                  <span class="atribute-item"> 8 گیگابایت</span>
                </li>
                <li class="mt-2">ظرفیت حافظه داخلی :

                  <span class="atribute-item"> 512 گیگابایت</span>
                </li>
                <li class="mt-2">سازنده پردازنده گرافیکی :

                  <span class="atribute-item">NVIDIA</span>
                </li>
                <li class="mt-2">دقت صفحه نمایش :

                  <span class="atribute-item"> 1080 × 1920 پیکسل - Full HD</span>
                </li>
                <li class="mt-2">طبقه‌بندی :

                  <span class="atribute-item"> کاربری عمومی</span>
                </li>
              </ul>
            </section>



            <div class="d-flex justify-content-end border-bottom pb-4">
              <button class="btn bg-green mr-3" type="button" name="button">افزودن به سبد خرید</button>


            </div>

          </div>
        </div>
       
      </div>
    </div>

  </div>

  <div class="Description border-bottom py-3">
    <div class="Description-header border-top ">
      <div class=" text-center p-3">

        <h5 class="pl-3 d-block">مشخصات</h5>
        <section class="Description-header-content" dir="rtl">
          <section class="d-flex justify-content-between mb-3">
            <p class="Description-header-item">وزن</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">2.2 کیلوگرم</span></section>
          </section>

          <section class="d-flex justify-content-between mb-3">
            <p class="Description-header-item">ابعاد</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                ۲۳.۵ × ۲۵۵ × ۳۵۷.۹ میلی‌متر</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">سازنده پردازنده</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                Intel</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">سری پردازنده</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                Core i۵</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">مدل پردازنده</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                ۱۲۴۵۰H</span></section>
          </section>

          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">محدوده سرعت پردازنده</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                ۲.۸ گیگاهرتز و بیشتر</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">فرکانس پردازنده</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                ۳.۳ تا ۴.۴ گیگاهرتز</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">حافظه Cache </p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                ۱۲ مگابایت</span></section>
          </section>

          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">ظرفیت حافظه RAM </p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                ۸ گیگابایت</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">نوع حافظه RAM </p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                DDR۴</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">سایر توضیحات حافظه RAM </p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                باس رم: ۳۲۰۰MHz قابلیت ارتقاء رم تا ۳۲ گیگابایت</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">ظرفیت حافظه داخلی </p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">

                ۵۱۲ گیگابایت</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">نوع حافظه داخلی </p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">
                SSD</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item"> مشخصات حافظه داخلی </p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">

                PCIe NVMe</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item"> سایر توضیحات حافظه داخلی</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">

                قابلیت ارتقاء حافظه</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item"> سازنده پردازنده گرافیکی</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">


                NVIDIA</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item"> مدل پردازنده گرافیکی</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">

                GEFORCE GTX۱۶۵۰</span></section>
          </section>
          <section class="d-flex justify-content-between text-right  mb-3">
            <p class="Description-header-item"> حافظه اختصاصی پردازنده گرافیکی</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">

                چهار گیگابایت</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">سایر توضیحات پردازنده گرافیکی</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">

                رابط حافظه: ۱۲۸Bit</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item"> اندازه صفحه نمایش</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">


                ۱۵.۶ اینچ</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">نوع صفحه نمایش</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">

                IPS level panel</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item"> دقت صفحه نمایش</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">

                ۱۰۸۰ × ۱۹۲۰ پیکسل - Full HD</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item"> توضیحات صفحه نمایش</p>
            <section class="Description-header-main  w-75 text-right"><span class=" ">

                نرخ تصویر: ۱۴۴Hz</span></section>
          </section>
          <section class="d-flex justify-content-between text-right mb-3">
            <p class="Description-header-item">سایر توضیحات پردازنده مرکزی (CPU) </p>
            <section class="Description-header-main w-75 text-right"><span class=" ">
                تعداد هسته: ۸ تعداد رشته: ۱۲</span></section>
          </section>

        </section>
      </div>

    </div>


    <div class="product-similar">
      <div class="container">
        <div class="product-similar-header text-right py-4">
          <h4>محصولات مشابه</h4>
        </div>
        <div class="row ">
          <div class="col-6 col-md-3 table-bordered">
                    <a asp-controller="Home" asp-action="ProductDetails">
              <div class="rice-crop-content mx-auto text-center">

                <img src="~/img/d227c95e86faa910da5b37f2490ab06305a8e49e_1669116851.jpg" class="img-fluid img-content"
                  alt="">
                <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                  <i class="fas fa-shopping-cart  "></i>

                </div>
                <button class=" w-100 btn-content text-white d-none d-md-inline">انتخاب گزینه ها</button>
                <p class=" text-center"> لپ تاپ 15.6 اینچی اچ پی مدل Victus 15-FA0031DX </p>
                <nav class=" text-center">
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>

                </nav>
                <p class="color-green" dir="rtl"> 28,910,000 تومان</p>


              </div>

            </a>
          </div>
          <div class="col-6 col-md-3 table-bordered">
                    <a asp-controller="Home" asp-action="ProductDetails2">
              <div class="rice-crop-content mx-auto text-center">

                <img src="~/img/1251b2bdef5a2eca857b78838de5272eb623a4b7_1671473824.jpg" class="img-fluid img-content"
                  alt="">
                <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                  <i class="fas fa-shopping-cart  "></i>

                </div>
                <button class=" w-100 btn-content text-white d-none d-md-inline">انتخاب گزینه ها</button>
                <p class=" text-center">لپ تاپ 15.6 اینچی ایسوس مدل VivoBook R565FA-EJ197 </p>
                <nav class=" text-center">
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>

                </nav>
                <p class="color-green" dir="rtl"> 43,466,000 تومان</p>


              </div>

            </a>
          </div>
          <div class="col-6 col-md-3 table-bordered">
                    <a asp-controller="Home" asp-action="ProductDetails3">
              <div class="rice-crop-content mx-auto text-center">

                <img src="~/img/a0d2725ba7a8e257a92c77583788f54b8f16e8a2_1671477227.jpg" class="img-fluid img-content"
                  alt="">
                <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                  <i class="fas fa-shopping-cart  "></i>

                </div>
                <button class=" w-100 btn-content text-white d-none d-md-inline">انتخاب گزینه ها</button>
                <p class=" text-center"> لپ تاپ 11 اینچی لنوو مدل IdeaPad 1 - A </p>
                <nav class=" text-center">
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>

                </nav>
                <p class="color-green" dir="rtl"> 29,565,000 تومان</p>

              </div>

            </a>
          </div>
          <div class="col-6 col-md-3 table-bordered">
            <a asp-controller="Home" asp-action="ProductDetails">
              <div class="rice-crop-content mx-auto text-center">

                <img src="~/img/b97667f66a093347abeace6b94f9c913fcf3c8a5_1671468703.jpg" class="img-fluid img-content"
                  alt="">
                <div class="bg-success  rice-icon  text-white rounded-circle d-md-none">
                  <i class="fas fa-shopping-cart  "></i>

                </div>
                <button class=" w-100 btn-content text-white d-none d-md-inline">انتخاب گزینه ها</button>
                <p class=" text-center"> لپ تاپ 15.6 اینچی ایسوس مدل R565EP-EJ627 </p>
                <nav class=" text-center">
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>
                  <a href="#"><i class="fa fa-star text-warning"></i></a>

                </nav>
                <p class="color-green" dir="rtl"> 36,465,000 تومان</p>
              </div>

            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

 

