
@{
    ViewData["Title"] = "Register";
}




    <div class="">
        <div class="container">
            <div class="row ">
                <div class="col-12 ">
                    <div class="row   ">
                        <div class="col-0 p-0 col-md-6 rigester-main-2 regester"><img src="~/img/a44bf0b1b8e3084b4bdb63c0e68fbb3dfe1a2ba1_1669796164.jpg" class="img-fluid rigester-item-img d-none d-md-inline" alt=""></div>
                        <div class=" col-12  col-md-6  rigester-item rigester-main regester">

                            <div class="container pt-5 ">
                                <div class="mx-auto text-center mb-3">
                                    <h4>فروشگاه لپ تاپ</h4>
                                </div>
                                <h4 class="text-right mb-5">
                                    ورود یا ثبت نام در سایت
                                </h4>
                                <form action="" class="form-group  ">
                                    <input type="text" class="form-control text-right rigester-input pb-3"
                                           placeholder="شماره همراه یا ایمیل">
                                    <div class="d-flex justify-content-between mt-3">
                                        <span class="pt-2">رمز عبور خود را فراموش کرده اید ؟</span>

                                        <span class="d-flex ">
                                            <p class="pt-2 pr-1"> مرا بخاطر بسپار</p>

                                            <input type="checkbox">

                                        </span>
                                    </div>
                                    <div class="d-flex flex-column  mx-auto mt-4">
                                        <button type="button" class="btn  rigester-submit text-white  " name="button">ورود/عضویت</button>
                                        <button type="button" class="btn  rigester-submit-home mt-3  " name="button"><a href="index.html">بازگشت به سایت</a></button>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







